<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🚗___Motor Masters___🚗</title>
    <style>
        body {
            max-width: 1400px;
            margin: 0 auto;
            background-color: #242424;
            color: antiquewhite;
            font-size: 160%;
        }

        a {
            color: #00a3d4
        }
    </style>
</head>

<body>
    <h1>Motor Masters 🚗</h1>
    <p>Motor Masters back-end using Typescript, Express and MongoDB</p>
    <a href="https://github.com/aHasnat1997/motor_masters_server" target="_blank">GitHub Link...</a>
</body>

</html>